<footer class="footer">
    <h4 >created by <b style="color: orange;">Vaibhav R Nayak</b></h4>
    <div>
        <a href="https://www.linkedin.com/in/vaibhav-nayak-07055321a/"><img src="/public/assets/icons/linkedin.png" alt=""></a>
        <a href="https://github.com/VaibhaV-R-N"><img src="/public/assets/icons/github.png" alt=""></a>
        <a href="https://www.instagram.com/vaibhav_r_n/"><img src="/public/assets/icons/instagram.png" alt=""></a>
    </div>
    <h4 >blog-chan 2023</h4>
    
</footer>
</body>
</html>