<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav>
        <a href="/" class="home"><h2>blog-chan</h2></a>
        <% if(user){ %>
            <a href="/account/logout" class="signup">Logout</a>
        <% } else {%>
        <a href="/account/login" class="login">Login</a>
        <a href="/account/signup" class="signup">SignUp</a>
        <% } %>
    </nav>