<%- include('partials/header') %>
<div class="landing">
    <p class="quote">

    </p>
    <a href="/account/signup" class="getstarted"><button>Get Started</button></a>
</div>

<script src="/public/js/home.js"></script>
<%- include('partials/footer') %>