<%- include('partials/header') %>
<h2 class="acc-title">Please log-in</h2>
<form action="/account/login" method="post" class="accountCont">
    <input type="text" name="username" placeholder="username">
    <input type="password"  name="password"  placeholder="password">
    <button class="accbtn">submit</button>
</form>
<%- include('partials/footer') %>