<%- include('partials/header') %>
<h2 style="text-align: center;font-family: var(--logo);color: #490977; padding: 1em;">Please log-in</h2>
<form action="/account/login" method="post" class="accountCont">
    <input type="text" name="username" placeholder="username">
    <input type="password"  name="password"  placeholder="password">
    <button class="accbtn">submit</button>
</form>
<%- include('partials/footer') %>